* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #09203A;
    height: 93px;
    color: white;
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #042e5f; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #09203A; 
  }


#Education {
    color: #12D640;
    border-bottom: 2px solid yellow; /* Adds a bottom border */
    padding-bottom: 3px; /* Optional: Add some space below the text */
}

h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 12%;
    margin-left: -10%;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-right: 2rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #12D640;
}

/* Hamburger Styles (visible on mobile) */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
}

.main{
    width: 100%;
    height: 108vh;
    background-color: #010e1b;
}
.top #education{
    color: white;
    margin-left: 14%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
}
#education::after{
    content: "";
    display: block;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.719);
    width: 10%;
    margin-left: 7%;
    margin-top: -0.8%;
}
.box1{
    width: 350px;
    height: 340px;
    background-color: red;
    margin-left: 14%;
    margin-top: 1%;
}
.box1 .up{
    width: 100%;
    height: 40%;
    background-image: url(/images/Rgpv.png);
    background-position: center;
    background-size: cover;
}
.box1 .down{
   width: 100%;
   height: 60%;
   background-color: #042e5f;
   color: white;
}
.box1 .down h3{
    margin-bottom: 2%;
    margin-left: 2%;
    letter-spacing: 1px;
}
.box1 .down h5{
    margin-bottom: 2%;
    margin-left: 2%;
}
.box1 .down #course{
    font-style: italic;
    margin-bottom: 2%;
    margin-left: 1%;
}
.box1 .down p{
    font-style: italic;
    margin-bottom: 2%;
    margin-left: 2%;
}
.box1 .down h4{
    font-style: normal;
    margin-left: 2%;
    letter-spacing: 1px;
}
.box1 .down #subjects{
    font-style: normal;
}
.bottom{
    width: 100%;
    
}
.bottom #cartification{
    color: white;
    margin-left: 14%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    margin-top: 2%;
}
.bottom #cartification::after{
    content: "";
    display: block;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.719);
    width: 10%;
    margin-left: 14%;
    margin-top: -0.8%;
}


 .bottom .boxs{
    /* display: flex; */
    /* gap: 15px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 3%;
}
.bottom .box1{
    width: 370px;
    height: 145px;
    margin-top: 3%;
    background-image: url(/images/ibm-logo-2.webp);
    background-position: center;
    background-size: cover;
}
.bottom .box2{
    width: 370px;
    height: 145px;
    margin-top: 3%;
    margin-left: 8%;
    background-image: url(/images/Code-Clause.png);
    background-position: center;
    background-size: cover;
}
.bottom .box3{
    width: 370px;
    height: 145px;
    margin-top: 3%;
    background-image: url(/images/Wyreflow\ \(1\).jpg);
    background-position: center;
    background-size: cover;
}

.bottom .box4{
    width: 370px;
    height: 145px;
    margin-top: 3%;
    margin-left: 14%;
    background-image: url(/images/sheryians_coding_school.jpg);
    background-position: center;
    background-size: cover;
}
.bottom .box5{
    width: 370px;
    height: 145px;
    background-color: green;
    margin-top: 3%;
    margin-left: 8%;
    background-image: url(/images/cognifyz-1.jpg);
    background-position: center;
    background-size: cover;
}
.bottom .box6{
    width: 370px;
    height: 145px;
    margin-top: 3%;
    background-image: url(/images/octa\ net.png);
    background-position: center;
    background-size: cover;
} 




/* Responsive Styles */
@media (max-width: 768px) {
    /* Navbar */
    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #09203A;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 1rem 0;
        z-index: 999;
    }
    .main{
        width: 100%;
        height: 200%;
    }
    h1{
        margin-left: -12%;
    }
    .nav-links li {
        margin: 1rem 0;
    }

    .hamburger {
        display: flex;
        margin-left: 25%;
    }

    .nav-links.active {
        display: flex;
    }
    
    .top #education{
        color: white;
        margin-left: -0.000001%;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: 600;
    }
    #education::after{
        content: "";
        display: block;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.719);
        width: 10%;
        margin-left: 21%;
        margin-top: -2%;
    }
    .box1{
        width: 350px;
        height: 340px;
        margin-top: 10%;
        position: relative;
        left: -6%;
    }
    .bottom #cartification{
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: 600;
        /* margin-top: 5%; */
        margin: 5% 2%;
    }
    .bottom #cartification::after{
        content: "";
        display: block;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.719);
        width: 10%;
        margin-left: 45%;
        margin-top: -2%;
    }


    .bottom .boxs{
        display: flex;
        /* gap: 15px; */
        /* display: grid; */
        /* grid-template-columns: repeat(3, 1fr); */
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        /* margin-left: 3%; */
    }
    .bottom .box1{
        margin-left: 10%;
        width: 370px;
        height: 145px;
        margin-top: 3%;
        background-image: url(/images/ibm-logo-2.webp);
        background-position: center;
        background-size: cover;
    }
    .bottom .box2{
        width: 370px;
        height: 145px;
        margin-top: 3%;
        margin-left: -2%;
        background-image: url(/images/Code-Clause.png);
        background-position: center;
        background-size: cover;
    }
    .bottom .box3{
        width: 370px;
        height: 145px;
        margin-top: 3%;
        margin-left: -2%;
        background-image: url(/images/Wyreflow\ \(1\).jpg);
        background-position: center;
        background-size: cover;
    }
    
    .bottom .box4{
        width: 370px;
        height: 145px;
        margin-top: 3%;
        margin-left: -2%;
        background-image: url(/images/sheryians_coding_school.jpg);
        background-position: center;
        background-size: cover;
    }
    .bottom .box5{
        width: 370px;
        height: 145px;
        background-color: green;
        margin-top: 3%;
        margin-left: -2%;
        background-image: url(/images/cognifyz-1.jpg);
        background-position: center;
        background-size: cover;
    }
    .bottom .box6{
        width: 370px;
        height: 145px;
        margin-top: 3%;
        margin-left: -2%;
        background-image: url(/images/octa\ net.png);
        background-position: center;
        background-size: cover;
    } 
    
    /* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #042e5f; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #12d64066; 
  }

    
    
}
